<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<%if(f==0){ %>
		<form action="/feeds/<%= qid %>">
			<button>Back</button>
		</form>
	<% }else{ %>
		<form action="/post/<%= aid %>">
			<button>Back</button>
		</form>
	<% } %>
	
	<h2>Liked By :</h2>

	<% var i =1; %>
	<% User.forEach((each)=>{ %>
		<p><%= i %>) <a href="/acc/<%= each.id %>"><%= each.name %></a> </p>
	<% ++i;}) %>
</body>
</html>
